<%= form_for @user do |f| %>

  <ul>
  <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>

  <%= f.label :username %><br>
  <%= f.text_field :username, placeholder: 'Enter yor name' %>
  <br><br>

  <%= f.label :email %><br>
  <%= f.email_field :email, placeholder: 'email@exemle.com'%>
  <br><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %>
  <br><br>

  <%= f.submit %>

<% end %>